<!DOCTYPE html>
<html lang = "en">

<head>
	<meta charset ="UTF-8">
	<meta name ="viewport" content ="width=device-width,initial-scale = 1.0">
	<meta http-equiv = "X-UA-Compatible" content = "ie=edge">
	<title> Document </title>

	<link rel = "stylesheet"  href = "/static/CSS/style.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
   
    <script type = "text/javascript" src = "scripthome.js" defer></script>
</head>
<body>