<div class = "footer">
    <div class = "mob"></div>
    <div class = "message"></div>
    <div class = "terms"><a href="./terms">Terms of Service</a></div>
    <div class = "pp"><a href="./pp">Private Policy</a></div>
    <div class = "rp"><a href="./rp">Refund Policy</a></div>

    <div class="legit"></div>
        <p>City Bank</p><i class="uil uil-copyright"></i><p>2022</p>
    </div>
</div>
</div>
</body>
</html>