@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600&family=Roboto:wght@100;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #fff;

}
a{
    text-decoration: none;
}
:root{
    --primary-color: #0E4BF1;
    --panel-color: #FFF;
    --text-color: #000;
    --black-light-color: #707070;
    --border-color: #e6e5e5;
    --toggle-color: #DDD;
    --box1-color: #4DA3FF;
    --box2-color: #FFE6AC;
    --box3-color: #E7D1FC;
    --title-icon-color: #FFF;

    --tran-05: all 0.5s ease;
    --tran-03: all 0.3s ease;
    --tran-03: all 0.2s ease;

}
.container-dash{
    min-height: 100vh;
    background-color: var(--primary-color);
    /*background-color: blue;*/
}
.container-dash.dark{
    --primary-color: #3A3B3C;
    --panel-color: #242526;
    --text-color: #CCC;
    --black-light-color: #CCC;
    --border-color: #4DACAC;
    --toggle-color: #FFF;
    --box1-color: #3A3B3C;
    --box2-color: #3A3B3C;
    --box3-color: #3A3B3C;
    --title-icon-color: #CCC;
}
.landing-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin: auto;
    position: relative;
}
.landing-content .textgraph{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.landing-content h1{
    font-family: "Times New Roman";
    font-size: 50px;
    padding-left: 20px;
    margin-top: 9%;
    letter-spacing: 2px;
}
.landing-content .btngraph{
    width: 160px;
    height: 40px;
    background: rgb(31, 42, 105);
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 4s ease;
}
.malbetter .btnarising{
    width: 160px;
    height: 40px;
    background: rgb(31, 42, 105);
    border: none;
    margin-bottom: 10px;
   /*margin-left: 20px;*/
    border-radius: 10px;
    cursor: pointer;
    transition: 4s ease;
}
.landing-content .btngraph a{
    color: white;
    transition: .3s ease;
}
.malbetter .btnarising a{
    color: white;
    transition: .3s ease;
}
.btngraph:hover{
    background-color: red;
}
.btarising:hover{
    background-color: red;
}
.landing-content span{
    color: rgb(31, 42, 105);
    font-size: 50px;
}
.malbetter span{
    color: rgb(31, 42, 105);
    font-size: 50px;
}
.signon{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center; 
    width: 400px;
    max-width: 400px;
    margin: 1rem;
    padding: 2px;
    box-shadow: 0 0 40px rgba(0, 0, 0,0.2);
    background: #ffffff;
    border-radius: 10px;
}
#reach{
    margin-top: 45px;
    width : 100%;
    /*height: 400px;*/
    background-color: rgb(31, 42, 105);
    -webkit-columns: 3 250px;
    -moz-columns: 3 250px;
    columns: 3 250px;
    -webkit-column-gap: 30px;
    -moz-column-gap: 30px;
    column-gap: 30px;
    -webkit-column-rule: 2px solid #222;
    -moz-column-rule: 2px solid #222;
    column-rule: 2px solid #222;
    padding: 15px;
    color: #fff;
}
.malbetter{
    display: flex;
    margin-top: 20px;
}
.bcful{
    width: 100%;
    height: 350px;
    padding-right: 20px;
    padding-left: 20px;
}
.infolast{
    width: 45%;
    height: 350px;
}
nav{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    padding: 10px 4px;
    width: 250px;
    background-color: var(--panel-color);
    border-right: 1px solid var(--border-color);
    transition: var(--tran-05);
    
}
nav.close{
    width: 73px;
}
nav .logo-name{
    display: flex;
    align-items: center;
}
nav .logo-image{
    display: flex;
    justify-content: center;
    min-width: 45px;
    background-color: red;
}
nav .logo-image img{
    width: 40px;
    object-fit: cover;
    border-radius: 50%;
}
nav .logo-name .logo_name{
    font-size: 22px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 14px;
    transform: var(--tran-05);
}

nav.close .logo_name{
    opacity: 0;
    pointer-events: none;
}

nav .menu-items{
    margin-top: 40px;
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-items li{
    
}
.menu-items li a{
    display: flex;
    align-items: center;
    height: 60px;
    text-decoration: none;
    position: relative;
}
.navlinks li a:hover:before{
    content: "";
    position: absolute;
    left: -7px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: var(--primary-color)
}
.container-dash.dark li a:hover:before{
    background-color: var(--panel-color);
}
.menu-items li a i{
    font-size: 24px;
    min-width: 45px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--black-light-color);
}
.menu-items li a .link{
    font-size: 18px;
    font-weight: 400;
    color: var(--black-light-color);
    transition: var(--tran-05);

}
nav.close li a .link{
    opacity: 0;
    /*pointer-events: none;*/
}
.navlinks{
    display: flex;
    flex-direction: column;
}
.navlinks li a:hover i,
.navlinks li a:hover .link{
    color: var(--primary-color);
}
.dash{
    cursor: pointer;
}
.container-dash.dark .navlinks li a:hover i,
.container-dash.dark .navlinks li a:hover .link{
    color: var(--text-color);
}
.menu-items .logout-dash{
    padding-top: 10px;
    border-top: 1px solid var(--border-color);
}
.menu-items .mode{
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.menu-items .mode-toggle{
    position: absolute;
    right: 14px;
    height: 50px;
    min-width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mode-toggle .switch{
    position: relative;
    display: inline-block;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
}
.switch:before{
    content: "";
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 15px;
    width: 15px;
    background-color: var(--panel-color);
    border-radius: 50%;
    transition: var(--tran-03);
}
.container-dash.dark .switch:before{
    left: 20px;
}
.dashboard{
    position: relative;
    left: 250px;
    background-color: var(--panel-color);
    min-height: 100vh;
    width: calc(100% - 250px);
    padding: 10px 14px;
    transition: var(--tran-05);
    
}
nav.close ~ .dashboard{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top{
    position: fixed;
    top: 0;
    left: 250px;
    display: flex;
    width: calc(100% - 250px);
    justify-content: space-between;
    align-items: center;
    padding: 10px 14px;
    background-color: var(--panel-color);
    transition: var(--tran-05);
    z-index: 10;
}
nav.close ~ .dashboard .top{
    left: 73px;
    width: calc(100% - 73px);
}
.dashboard .top .sidebar-toggle{
    font-size: 26px;
    color: var(--text-color);
    cursor: pointer;
}
.dashboard .top .search-box{
    position: relative;
    height: 45px;
    max-width: 600px;
    width: 100%;
    margin: 0 30px;
    background-color: red;

}
.top .search-box input{
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--panel-color);
    padding: 0 25px 0 50px;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    color: var(--text-color);
    font-size: 15px;
    font-weight: 400;
    outline: none;
}
.top .search-box i{
    position: absolute;
    left: 15px;
    font-size: 22px;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    color: var(--black-light-color);
}
.logincc{
    height: 300px;
    width: 100%;
}
.top img{
    width: 40px;
    border-radius: 50%;
}
.dashboard .dash-content{
    /*padding-top: 40px;*/
}
.dashboard{
    display: none
}
.active{
    display: block;
}
.dash-content > :first-child{
    margin-top: 0;
}
.dash-content .title{
    display: flex;
    align-items: center;
    margin: 60px 0 30px 0;
}
.dash-content .title i{
    position: relative;
    height: 35px;
    width: 35px;
    background-color: var(--primary-color);
    border-radius: 6px;
    color: var(--title-icon-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.dash-content .title .text{
    font-size: 24px;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 10px;
}
.dash-content .boxes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dash-content .boxes .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    width: calc(100% / 3 - 15px);
    padding: 15px 20px;
    background-color: var(--box1-color);
}
.boxes .box i{
    font-size: 35px;
    color: var(--text-color);
}
.boxes .box .text{
    white-space: nowrap;
    font-size: 18px;
    font-weight: 500;
    color:var(--text-color);
}
.boxes .box .balance{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .credit{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box .paybill{
    font-size: 40px;
    font-weight: 500;
    color: var(--text-color);
}
.boxes .box.box2{
    background-color: var(--box2-color);
}
.boxes .box.box3{
    background-color: var(--box3-color);
}
.dash-content .activity .activity-data{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.activity .activity-data{
    display: flex;
    /*width: calc(100% / 5 - 15px);*/
}
.activity-data .data{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.activity-data .data-title{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-color);
}
.activity-data .data .data-list{
    font-size: 18px;
    font-weight: 400;
    margin-top: 20px;
    white-space: nowrap;
    color: var(--text-color);
}
.logout-dash{
    display: flex;
    flex-direction: column; 
}
.navbar{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
}
.seediv{
    

}
.noldiv{
    
}
img{
    height: 50px;
    width: 50px
}
.im{
    margin-right: auto;
    margin-left: 50px;
}
.pointers{
    margin-top: 20px;
    border: 1px solid black;
    padding: 10px 10px;
    background-color: rgb(31, 42, 105);
    
    
}
ul{
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
    list-style: none;   
}
.pointers a{
    color: #fff;
    padding: 20px;
}
.pointers .help{
    display: none;
}
.navbar-toggle{
    display: none;
}
.footer {
    width : 100%;
    height: 250px;
    background-color: rgb(31, 42, 105);;
    font-size: 15px;
    color :white;
    margin-top: 50px;
    padding-top: 50px;
    padding-left : 50px;
}
.terms a{
    cursor: pointer;
    text-decoration: none;
    color :white;
}
.pp a{
    cursor: pointer;
    text-decoration: none;
    color :white;
}
.rp a{
    cursor: pointer;
    text-decoration: none;
    color :white;
}
.legit p i{
    display: flex;
    flex-direction: row;
}




@media only screen and (max-width: 1000px){
    .pointers .help{
        display: flex;
        justify-content: flex-end;
        list-style: none;   
    }
    .pointers ul{
        display: none;
        padding-top: 30px;
    }
    #list{
        padding-left: 50px;
        background-color: white;
    }
    .navbar-toggle{
        cursor: pointer;
        margin-right: auto;
        margin-left: 40px;
        display: block;
        color: white;
    }
    nav{
        width: 73px;
    }
    nav.close{
        width: 250px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 1;
        pointer-events: auto;
    }
    nav.close li a .link{
        opacity: 1;
        pointer-events: auto;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 250px;
        width: calc(100% - 250px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 250px;
        width: calc(100% - 250px);
    }
    .activity .activity-data{
        overflow-y: scroll;
    }
    .malbetter{
       display: flex;
       flex-direction: column-reverse; 
       
    }
    .infolast{
    padding: 20px 20px;
    }
    .careful{
        padding-top: 160px;
    }
}

@media only screen and (max-width: 780px){
    .dash-content .boxes .box{
        width: calc(100% / 2 - 15px);
        margin-top: 15px;
    }

    
}

@media only screen and (max-width: 560px){
    .dash-content .boxes .box{
        width: 100%;
    }
}

@media only screen and (max-width: 500px){
    nav{
        width: 73px;
    }
    nav.close{
        width: 73px;
    }
    nav .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close .logo_name{
        opacity: 0;
        pointer-events: none;
    }
    nav.close li a .link{
        opacity: 0;
        pointer-events: none;
    }
    nav ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    nav.close ~ .dashboard .top{
        left: 73px;
        width: calc(100% - 73px);
    }
    .dashboard .top .sidebar-toggle{
        display: none;
    }
    .signon{
        height: 500px;
        width: 500px;
    }
    .infoview h1{
        font-size: 40px;
    }
    .infoview span{
        font-size: 40px;
    }
    .bcful{
        padding: 40px;
    }
}